<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulario Alta/Modificacion</title>
	<style>
		.error {
			color: red;
			font-size: 200%;
		}
	</style>
</head>

<body>
	<h1>Formulario de Alta/Modificación</h1>

	<fieldset>
		<legend>Formulario de Alta o Modificación</legend>

		<form th:action="@{/empleados/persistir}" method="post" th:object="${empleado}">
			<input type="hidden" th:field="*{id}">
			<div>
				<label for="nombre">Nombre: </label>
				<input type="text" id="nombre" required th:field="*{nombre}">
				<p th:if="${#fields.hasErrors('nombre')}" 
				   th:errors="*{nombre}" 
				   class="error">Nombre Incorrecto</p>
			</div>
			<div>
				<label for="primerApellido">Primer Apellido: </label>
				<input type="text" id="primerApellido" name="primerApellido" required="required"
					th:field="*{primerApellido}">
					<p th:if="${#fields.hasErrors('primerApellido')}" 
                   th:errors="*{primerApellido}" 
                   class="error">Primer Apellido Incorrecto</p>
			</div>
			<div>
				<label for="segundoApellido">Segundo Apellido: </label>
				<input type="text" id="segundoApellido" name="segundoApellido" 
						th:field="*{segundoApellido}">
			</div>
			<div>
				<fieldset>
					<legend>Genero</legend>
					<label for="hombre">Hombre: </label>
					<input type="radio" id="hombre" name="genero" value="HOMBRE" 
								th:field="*{genero}">
					<label for="mujer">Mujer: </label>
					<input type="radio" id="mujer" name="genero" value="MUJER" 
								th:field="*{genero}">
					<label for="otro">Otro: </label>
					<input type="radio" id="otro" name="genero" value="OTRO" 
								th:field="*{genero}">
				</fieldset>
			</div>
			<div>
				<label for="salario">Salario: </label>
				<input type="text" id="salario" name="salario" th:field="*{salario}">
			</div>
			<div>
				<label for="fechaAlta">Fecha de Alta: </label>
				<input type="date" id="fechaAlta" name="fechaAlta" th:field="*{fechaAlta}">
			</div>
			<div>
				<label for="numerosTelefono">Telefonos: </label>
				<input type="text" id="numerosTelefono" name="numerosTelefono"
					placeholder="Uno o varios separados por ;" >
			</div>
			<div>
				<label for="direccionesCorreo">Correos: </label>
				<input type="text" id="direccionesCorreo" name="direccionesCorreo"
					placeholder="Uno o varios separados por ;" >
			</div>
			<div>
				<label for="departamentos">Departamento: </label>
				<select id="departamentos" th:field="*{departamento}">
					<option value=""></option>
					<option th:each="dpto : ${departamentos}" 
							th:value="${dpto.id}" 
							th:text="${dpto.nombre}"></option>
				</select>
			</div>

			<div>
				<input type="submit" value="Alta/Modificacion">
			</div>

		</form>

	</fieldset>
</body>

</html>